<nav class="navbar bg-body-tertiary sticky-top border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand d-flex gap-2 align-items-center" href="/">
            <img src="/steering-wheel.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
            <span class="fs-4 fw-medium">Sure<span class="fw-bold">Drive</span></span>
        </a>
    </div>
</nav>