<div class="modal fade" id="uploadFileFolderModal" tabindex="-1" aria-labelledby="uploadFileFolderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="uploadFileFolderModalLabel">Upload to <%= folderDetails.name%> folder
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/folder/<%= folderDetails.id%>/upload" method="POST" enctype="multipart/form-data"
                    id="upload_form">
                    <input class="form-control" type="file" name="file" id="file"
                        accept="image/jpg,image/jpeg,image/png" required>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="upload_form">Upload</button>
            </div>
        </div>
    </div>
</div>